<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Edit</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body class="container">
<form class="col card p-3 my-5" method="post" th:action="'/'+${id}" th:object="${loginSettings}">
    <div class="form-group">
        <label for="id">Id</label>
        <input class="form-control" id="id" placeholder="Enter id" required th:field="*{id}" type="text"/>
    </div>
    <div class="form-group">
        <label for="id">Username</label>
        <input class="form-control" id="userName" placeholder="Enter userName"  th:field="*{loginDetails.userName}" type="text"/>
    </div>
    <div class="form-group">
        <label for="id">Password</label>
        <input class="form-control" id="userPassword" placeholder="Enter userPassword"  th:field="*{loginDetails.userPassword}" type="text"/>
    </div>
    <div class="form-group">
        <label for="id">Private key file</label>
        <input class="form-control"  id="privateKeyFile" placeholder="Enter privateKeyFile"  th:field="*{loginDetails.privateKeyFile}" type="text"/>
    </div>
    <div class="form-group">
        <label for="id">Private key password</label>
        <input class="form-control"  id="privateKeyPassword" placeholder="Enter privateKeyPassword"  th:field="*{loginDetails.privateKeyPassword}" type="text"/>
    </div>
    <div class="form-group">
        <label for="id">Host</label>
        <input class="form-control"  id="host" placeholder="Enter host" required th:field="*{loginDetails.host}" type="text"/>
    </div>
    <div class="form-group">
        <label for="id">Port</label>
        <input class="form-control"  id="port" placeholder="Enter port"  th:field="*{loginDetails.port}" type="text"/>
    </div>
    <div class="form-group">
        <label for="id">Scheduled Cron</label>
        <input class="form-control"  id="scheduledTime" placeholder="scheduledTime" required th:field="*{scheduledTime}" type="text"/>
    </div>
    <div class="form-group">
        <label for="transactionType">Transaction type</label>
        <select  class="form-control" id="transactionType" required th:field="*{transactionType}">
            <option hidden value="Download">Select</option>
            <option value="Download">Download</option>
            <option value="Upload">Upload</option>
        </select>
    </div>
    <div class="form-group">
        <label for="id">Local directory path</label>
        <input class="form-control"  id="localDirectoryPath" placeholder="localDirectoryPath" required th:field="*{localDirectoryPath}" type="text"/>
    </div>
    <div class="form-group">
        <label for="id">Remote directory path</label>
        <input class="form-control"  id="remoteDirectoryPath" placeholder="remoteDirectoryPath" required th:field="*{remoteDirectoryPath}" type="text"/>
    </div>
    <div class="form-group">
        <label for="id">Filename</label>
        <input class="form-control"  id="fileName" placeholder="fileName"  th:field="*{fileName}" type="text"/>
    </div>
    <div class="form-group">
        <label for="deleteSource">Delete source</label>
        <select  class="form-control" id="deleteSource" required th:field="*{deleteSource}">
            <option hidden value="False">Select</option>
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>
    <div class="form-group">
        <label for="id">Minimum file age in minutes</label>
        <input class="form-control"  id="minimumFileAgeMinutes" placeholder="minimumFileAgeMinutes"  th:field="*{minimumFileAgeMinutes}" type="text"/>
    </div>
    <div class="form-group">
        <label for="archiveSource">Archive source</label>
        <select  class="form-control" id="archiveSource" required th:field="*{archiveSource}">
            <option hidden value="False">Select</option>
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>
    <div class="form-group">
        <label for="addDateToEndOfFilename">Add date to filename</label>
        <select  class="form-control" id="addDateToEndOfFilename" required th:field="*{addDateToEndOfFilename}">
            <option hidden value="False">Select</option>
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>
    <div class="form-group">
        <label for="unzipFile">Unzip file</label>
        <select  class="form-control" id="unzipFile" required th:field="*{unzipFile}">
            <option hidden value="False">Select</option>
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>
    <div class="form-group">
        <label for="forceFile">Force file</label>
        <select  class="form-control" id="forceFile" required th:field="*{forceFile}">
            <option hidden value="False">Select</option>
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>
    <div class="form-group">
        <label for="active">Active</label>
        <select  class="form-control" id="active" required th:field="*{active}">
            <option hidden value="False">Select</option>
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Add">
        <input class="btn btn-dark" type="reset" value="Reset">
    </div>
    <div>
        <input class="btn btn-success" type="submit" value="Update"
               onclick="document.getElementById('activeFlag').value='true'">
        <input class="btn btn-danger" type="submit" value="Delete"
               onclick="document.getElementById('activeFlag').value='false'">
    </div>
</form>
</body>
</html>